# {{ ansible_managed }}

agentAddress {{ snmpd_agent_address | join(',') }}

createUser {{ snmpd_internal_user.username }} {{ snmpd_internal_user.auth_protocol }} "{{ snmpd_internal_user.password }}"
{% for snmpd_user in snmpd_users %}
createUser {{ snmpd_user.username }} {{ snmpd_user.auth_protocol }} "{{ snmpd_user.password }}" {{ snmpd_user.privacy_protocol }} "{{ snmpd_user.privacy_passphrase }}"
{% endfor %}

view systemonly included .1.3.6.1.2.1.1
view systemonly included .1.3.6.1.2.1.25.1

rouser authOnlyUser
{% for snmpd_user in snmpd_users %}
{{ snmpd_user.type }} {{ snmpd_user.username }}
{% endfor %}

sysLocation {{ snmpd_sys_location }}
sysContact  {{ snmpd_sys_contact }}
{% if snmpd_sys_description %}
sysDescr    {{ snmpd_sys_description }}
{% endif %}
sysServices {{ snmpd_sys_services }}

iquerySecName {{ snmpd_internal_user.username }}
rouser        {{ snmpd_internal_user.username }}

{% if snmpd_disks_include_all %}
includeAllDisks {{ snmpd_disks_include_all_threshold_minpercent }}
{% endif %}
{% for snmpd_disk in snmpd_disks %}
disk {{ snmpd_disk.path }} {{ snmpd_disk.threshold }}
{% endfor %}
{% if snmpd_load is defined %}
load {{ snmpd_load }}
{% endif %}

defaultMonitors         {{ 'yes' if snmpd_default_monitors else 'no' }}
linkUpDownNotifications {{ 'yes' if snmpd_link_up_down_notifications else 'no' }}

{% for snmpd_extension in snmpd_extensions | default([]) %}
extend {{ snmpd_extension.name }} {{ snmpd_extension.prog }} {{ snmpd_extension.args | default([]) | join(' ') }}
{% endfor %}

{% for snmpd_pass in snmpd_passes | default([]) %}
pass {{ snmpd_pass.name }} {{ snmpd_pass.prog }}
{% endfor %}

master agentx
